
@{
    ViewBag.Title = "Index HelloWorld";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/app/controllers/hello-world.controller.js"></script>

<div class="container">
    <div ng-app="helloWorldModule">
        <div class="" ng-controller="helloWorldController">
            {{name}}
        </div>
    </div>

</div>